.breadcrumb{
	&__container{
		@include container-styling-mobile;
		@include flex(row);
		justify-content: space-between;
	}
	&__text{
			font-family: $nexa-bold;
			font-size: 1.5rem;
			padding: 1.5rem 0rem;
	}
	&__sort{
			-moz-appearance: none;
			-webkit-appearance: none;
			font-size: 1.2rem;
			padding: 1.5rem;
			padding-right: 3rem;
			border: none;
			background: url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png') no-repeat, #ddd;
			background-size: 1rem;
			background-position-x: 90%;
			background-position-y: 50%;
	}
}

.doctor_list, .hospital_list{
	&__container{
		@include container-styling-mobile;
		&__col-1{
			display: none;
		}
		&__col-2{
			grid-template-columns: 100%;
			grid-row-gap: 1rem; 
			&__card{
				display: grid;
				border: .1rem solid #bbb;
				height: 67.5rem;
				&__name{
					position: relative;
					h3{
						color: $bright-blue;
						font-size: 2rem;
						line-height: 3rem;
						margin: 1rem 0rem;
						padding-left: 5rem; 	
					}
					&:before{
						content: '';
						display: inline;
						position: absolute;
						width: 4rem;
						background-color: $bright-blue;
						left: 0%;
						bottom: 50%;
						height: .2rem; 
					}
				}
				&__other_details{
					padding: 1rem;
					&__para{
						font-family: $nexa-light;
						font-size: 1.3rem;
						span{
							margin-right: 1rem;
							img{
								@include maintain-aspect-ratio(2rem);
							}
							i{
								color: $bright-blue;
								font-size: 2rem;
								line-height: 3rem;
							}
						}
					}
				}
				&__book{
					font-family: $nexa-bold;
					align-self: center;
					margin-bottom: 1rem;
					border: none;
					background-color: $dark-blue;
					color: white;
					font-size: 1.5rem;
					padding: 1rem 3rem;
					margin-top: 1rem;
					margin: 1rem 5rem;
				}
				&__doctor_img_wrapper{
					width: 100%;
					height: 40rem;
					&__img{
						width: 100%;
						height: 100%;
					}
					
				}
			}
		}
	}
}
 

@media (min-width: $bp-tablet){
	.breadcrumb{
		&__container{
			@include container-styling-tablet;
		}
	}
	
	.doctor_list, .hospital_list{
		height: 195rem;
		&__container{
			@include container-styling-tablet;
			padding: 2rem 3rem;
			grid-template-columns: 3fr 7fr;
			grid-column-gap: 1rem;
			&__col-1{
				display: block;
				grid-template-columns: 100%;
				&__filter{
					grid-template-columns: repeat(5,2fr);
					grid-template-rows: 1fr 2fr 1fr;
					align-items: center;
					border-bottom: .1rem solid #bbb;
					height: 25rem;
					font-family: $nexa-light;
					&:last-child{
						border-bottom: none;
						margin-top: 1.5rem;
					}
					&__title{
						grid-column: 1/4;
						grid-row: 1/2; 
						font-size: 1.7rem;
						line-height: 2rem;
					}
					&__search{
						grid-column: 4/5;
						grid-row: 1/2;
						justify-self: end;
						align-self: center;
						font-size: 1.2rem;
						color: $bright-blue;
					}
					&__collapse{
						grid-column: 5/6;
						grid-row: 1/2;
						justify-self: end;
						align-self: center;
						font-size: 1rem;
					}
					&__options{
						grid-column: 1/6;
						grid-row: 2/3;
						display: grid;
						grid-gap: .5rem;
						grid-template-columns: 100%;
						label{
							display: flex;
							flex-direction: row;
							align-items: center;
							align-self: center;
							input{
								margin-right: 1rem;
							}
						}
					}
					&__show_more{
						color: $bright-blue;
						grid-column: 1/6;
						grid-row: 3/4;
						font-size: 1.3rem;
						margin-bottom: 0rem;
						align-self: center;
						font-family: $nexa-bold;
						.fa-plus{
							margin-right: 1rem;
						}
					}
				}
			}
			&__col-2{
				&__card{
					height: 30rem;
					grid-template-columns: 6fr 4fr;
					grid-template-rows: 1fr 3fr 0fr;
					&__name{
						grid-column: 1/2;
						grid-row: 1/2;
						&:before{
							top:38%;
						}
					}
					&__other_details{
						&__para{
							display: grid;
							grid-template-columns: 1fr 4fr;
							align-items: center;
						}
						grid-column: 1/2;
						grid-row: 2/3;
						display: grid;
						grid-template-columns: 1fr 1fr;
					}
					&__book{
						grid-column: 1/2;
						grid-row: 3/4;
						align-self: start;
						justify-self: start;
						margin: 1rem;
					}
					&__doctor_img_wrapper{
					width: 100%;
					height: 100%;
					grid-row: 1/-1;
					grid-column: 2/3;
					&__img{
						width: 100%;
						height: 100%;
					}
					
				}
				}
			}
		}
	}

}

@media (min-width: $bp-desktop){
	.breadcrumb{
		&__container{
			padding: 0rem 10rem;
		}
	}

	.doctor_list, .hospital_list{
		&__container{
			@include container-styling-desktop;
			grid-template-columns: 2fr 10fr;
			grid-column-gap: 6rem;
			&__col-2{
				&__card{
					&__name{
						&:before{
							top: 38%;
						}
					}
					&__other_details{
						&__para{
							display: inline;
						}
					}
					grid-template-columns: 9fr 4fr;
				}
			}
		}
	}
}