@font-face {
  font-family: "Nexa Bold";
  src: url("../assets/fonts/Nexa-Bold.otf");
}
@font-face {
  font-family: "Nexa Light";
  src: url("../assets/fonts/Nexa-Light.otf");
}
html, body {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.grid {
  display: grid;
}

.container {
  display: grid;
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
}

.para {
  font-family: "Nexa Light";
  font-size: 1.4rem;
  line-height: 2rem;
}

.heading-2 {
  font-size: 2.1rem;
  line-height: 2rem;
  font-family: "Nexa Bold";
}

.para {
  font-size: 1.7rem;
  line-height: 3rem;
  font-family: "Nexa Light";
}

@media (min-width: 768px) {
  .container {
    padding: 2rem 5rem;
    width: 100%;
    height: 100%;
  }

  .para {
    font-family: "Nexa Light";
    font-size: 1.7rem;
    line-height: 3rem;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 3rem 10rem;
    width: 100%;
    height: 100%;
  }

  .para {
    font-family: "Nexa Light";
    font-size: 1.7rem;
    line-height: 3rem;
  }
}
.footer {
  width: 100%;
  height: 38rem;
  background-color: #2a2d3e;
  color: white;
  border-bottom: 1rem solid #0173b2;
}
.footer__container {
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-family: "Nexa Light";
}
.footer__container__menu {
  align-self: center;
  justify-self: center;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer__container__menu li {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.footer__container__menu li:last-child {
  margin-bottom: 0;
}
.footer__container__menu li a, .footer__container__menu li a:visited, .footer__container__menu li a:hover, .footer__container__menu li a:active {
  text-decoration: none;
  color: white;
}
.footer__container a {
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.footer__container__logo {
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  width: 20rem;
  height: 5rem;
}
.footer__container__copyright {
  grid-row: 4/5;
  text-align: center;
  margin: 0;
  justify-self: center;
  align-self: center;
}
.footer__container__social {
  justify-self: center;
  align-self: center;
}
.footer__container__social i {
  font-size: 2rem;
  margin-right: 1.5rem;
}
.footer__container__social i:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .footer {
    height: 17rem;
  }
  .footer__container {
    padding: 2rem 5rem;
    width: 100%;
    height: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-family: "Nexa Light";
    background-color: white;
    color: #2a2d3e;
    grid-gap: 0rem;
  }
  .footer__container__menu {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-self: center;
  }
  .footer__container__menu li {
    margin-left: 1rem;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .footer__container__menu li:first-child {
    margin-left: 0;
  }
  .footer__container__menu li a, .footer__container__menu li a:visited, .footer__container__menu li a:active {
    color: #2a2d3e;
  }
  .footer__container a {
    align-self: center;
    justify-self: end;
  }
  .footer__container__copyright {
    font-size: 1.4rem;
    line-height: 2rem;
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
    justify-self: start;
  }
  .footer__container__social {
    align-self: center;
    justify-self: end;
  }
}
@media (min-width: 1024px) {
  .footer__container {
    padding: 3rem 10rem;
    width: 100%;
    height: 100%;
  }
  .footer__container__menu li a, .footer__container__menu li a:visited, .footer__container__menu li a:active {
    color: #2a2d3e;
  }
}
.navbar {
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
  height: 8rem;
}
.navbar__logo {
  flex-grow: 1;
}
.navbar__logo__img {
  width: 15rem;
  height: auto;
}
.navbar__menu {
  display: none;
}
.navbar__buttons {
  display: none;
}
.navbar__burger {
  color: #525659;
  display: inline;
  font-size: 2rem;
  align-self: center;
}
.navbar__side_menu {
  display: none;
  position: fixed;
  background-color: white;
  height: 100%;
  width: 55%;
  z-index: 1000;
  right: 0;
  top: 0;
  padding: 2rem;
}
.navbar__side_menu__ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  margin: 1rem 0rem;
}
.navbar__side_menu__ul__item {
  font-family: "Nexa Light";
  font-size: 1.5rem;
  color: #2a2d3e;
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.navbar__side_menu__ul__item a, .navbar__side_menu__ul__item a:visited, .navbar__side_menu__ul__item a:hover, .navbar__side_menu__ul__item a:active {
  text-decoration: none;
  color: #2a2d3e;
}
.navbar .cross {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .navbar {
    padding: 2rem 5rem;
    width: 100%;
    height: 100%;
  }
  .navbar__side_menu__ul {
    padding-right: 2rem;
  }
  .navbar__side_menu__ul__item {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .navbar {
    padding: 3rem 10rem;
    width: 100%;
    height: 100%;
  }
  .navbar__menu {
    display: block;
    flex-grow: 2;
    padding-left: 10rem;
    align-self: center;
  }
  .navbar__menu__ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  .navbar__menu__ul__item {
    font-family: "Nexa Light";
    font-size: 1.3rem;
    color: #2a2d3e;
    margin-left: 3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .navbar__menu__ul__item a, .navbar__menu__ul__item a:visited, .navbar__menu__ul__item a:hover, .navbar__menu__ul__item a:active {
    text-decoration: none;
    color: #2a2d3e;
  }
  .navbar__side_menu {
    display: none;
  }
  .navbar__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    flex-grow: 1;
  }
  .navbar__buttons-login {
    padding: 1rem 1.8rem;
    color: #2a2d3e;
    border: 1px solid #2a2d3e;
    border-radius: 0.5rem;
    font-family: "Nexa Light";
    letter-spacing: 0.05rem;
    font-weight: 600;
    background-color: white;
  }
  .navbar__buttons-quote {
    padding: 1rem 1.8rem;
    color: #2a2d3e;
    border: 1px solid #2a2d3e;
    border-radius: 0.5rem;
    font-family: "Nexa Light";
    letter-spacing: 0.05rem;
    font-weight: 600;
    background-color: #2a2d3e;
    color: white;
    padding: 1rem 2.6rem;
  }
  .navbar .fa-bars {
    display: none;
  }
}
.help {
  height: 28rem;
  background-color: #9cbfda;
}
.help__container {
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
  grid-template-columns: 1fr;
  font-family: "Nexa Bold";
}
.help__container__col-1 {
  text-align: center;
}
.help__container__col-1__heading {
  font-size: 3.5rem;
  line-height: 8rem;
  color: white;
}
.help__container__col-1__text {
  line-height: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #2a2d3e;
  letter-spacing: 0.05rem;
}
.help__container__col-2 {
  text-align: center;
}
.help__container__col-2__button {
  padding: 2rem 3rem;
  border: none;
  color: white;
  background-color: #0173b2;
  font-size: 2rem;
  border-radius: 0.5rem;
  font-family: "Nexa Bold";
}

@media (min-width: 768px) {
  .help {
    height: 24rem;
  }
  .help__container {
    padding: 2rem 5rem;
    width: 100%;
    height: 100%;
  }
  .help__container__col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .help {
    height: 17rem;
  }
  .help__container {
    padding: 3rem 10rem;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .help__container__col-1 {
    text-align: left;
  }
  .help__container__col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}
.hero {
  background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
  background-size: cover;
  position: relative;
  height: 30rem;
}
.hero__container {
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
  color: #2a2d3e;
  grid-gap: 2rem;
}
.hero__container__heading {
  font-size: 2.1rem;
  line-height: 3rem;
  text-align: center;
}
.hero__container__para {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
}
.hero__container__field {
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0.5rem;
  font-family: "Nexa Bold";
}
.hero__container__field__search_location {
  position: relative;
}
.hero__container__field__search_location__district {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 4rem;
  font-family: "Nexa Light";
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}
.hero__container__field__search_location__map-marker {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  padding-left: 1.7rem;
  padding-top: 1rem;
}
.hero__container__field__search_location__crosshairs {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1rem;
  padding-right: 1.7rem;
}
.hero__container__field__search_location__crosshairs img {
  width: 1.7rem;
  height: auto;
}
.hero__container__field__search {
  padding-left: 1rem;
  font-family: "Nexa Light";
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}
.hero__container__field__search__button {
  padding: 1rem 1.8rem;
  color: #2a2d3e;
  border: 1px solid #2a2d3e;
  border-radius: 0.5rem;
  font-family: "Nexa Light";
  letter-spacing: 0.05rem;
  font-weight: 600;
  margin: 0rem 8rem;
  border-radius: 0;
  background-color: #2a2d3e;
  color: white;
  font-family: "Nexa Light";
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}

.how_it_works {
  height: 145rem;
}
.how_it_works__container {
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
  grid-template-rows: 1fr 1fr 19fr;
}
.how_it_works__container__heading {
  font-size: 3rem;
  line-height: 4rem;
  color: #2a2d3e;
}
.how_it_works__container__para {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.how_it_works__grid {
  grid-template-columns: 100%;
  margin-top: 3rem;
  grid-row-gap: 2rem;
}
.how_it_works__grid__option {
  display: grid;
  grid-template-columns: 3fr 7fr;
  font-family: "Nexa Bold";
  border-radius: 1rem;
  border: 0.2rem solid #999;
}
.how_it_works__grid__option:hover {
  border: 0.2rem solid #9cbfda;
}
.how_it_works__grid__option:hover span {
  color: #9cbfda;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
}
.how_it_works__grid__option:hover h3 {
  align-self: center;
  justify-self: start;
  font-size: 2rem;
  line-height: 2rem;
  color: #2a2d3e;
}
.how_it_works__grid__option__number {
  color: #ddd;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
}
.how_it_works__grid__option__text {
  align-self: center;
  justify-self: start;
  font-size: 2rem;
  line-height: 2rem;
  color: #eee;
}
.how_it_works__grid__option-active {
  border: 0.2rem solid #9cbfda;
}
.how_it_works__grid__option-active span {
  color: #9cbfda;
}
.how_it_works__grid__option-active h3 {
  color: #2a2d3e;
}
.how_it_works__grid__option__desc {
  margin: auto;
  display: none;
}
.how_it_works__grid__option__desc-expand {
  display: block;
}
.how_it_works__grid__option__desc-expand img {
  width: 100%;
  height: auto;
}
.how_it_works__grid__option__desc-expand h3 {
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  font-family: "Nexa Bold";
}
.how_it_works__grid__option__desc-expand p {
  font-size: 1.4rem;
  text-align: center;
  font-family: "Nexa Light";
}

.world_class_doctors {
  background-color: #2a2d3e;
}
.world_class_doctors__container {
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
}
.world_class_doctors__container__cards {
  margin-top: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: repeat(4, 1fr);
}
.world_class_doctors__container__cards__card {
  width: 100%;
  height: 42rem;
  background-size: cover;
  background-position: -2rem -2rem;
  position: relative;
}
.world_class_doctors__container__cards__card-1 {
  background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg");
}
.world_class_doctors__container__cards__card-2 {
  background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg");
  background-position: -0.5rem;
}
.world_class_doctors__container__cards__card-3 {
  background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg");
  background-position: 0.6rem;
}
.world_class_doctors__container__cards__card-4 {
  background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg");
}
.world_class_doctors__container__cards__card__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-color: white;
  border-bottom: 0.4rem solid #9cbfda;
  text-align: left;
}
.world_class_doctors__container__cards__card__description__name {
  position: relative;
  font-family: "Nexa Bold";
  color: #0173b2;
  font-size: 2rem;
  margin-left: 2rem;
  line-height: 2rem;
  padding-top: 1rem;
}
.world_class_doctors__container__cards__card__description__name::after {
  content: "";
  width: 5%;
  height: 0.2rem;
  background-color: #0173b2;
  position: absolute;
  left: -6.5%;
  bottom: 38%;
}
.world_class_doctors__container__cards__card__description__designation {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: #2a2d3e;
  margin-bottom: 0;
  line-height: 3rem;
  letter-spacing: 0.05rem;
}
.world_class_doctors__container__cards__card__description__qualification {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: #2a2d3e;
  margin-bottom: 0;
  line-height: 2rem;
  padding: 0 2rem 0 0;
  letter-spacing: 0.01rem;
}
.world_class_doctors__container__cards__card__description__location {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: #2a2d3e;
  margin-bottom: 0;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}
.world_class_doctors__container__dots {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 100%;
  align-items: center;
}
.world_class_doctors__container__dots__dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #8e9099;
  margin-left: 0.3rem;
}
.world_class_doctors__container__dots__dot:first-child {
  width: 1.7rem;
  height: 1.7rem;
  background-color: #2a2d3e;
  border: 2px solid #0173b2;
}
.world_class_doctors__heading {
  color: white;
  font-family: "Nexa Bold";
  font-size: 2.5rem;
  line-height: 5rem;
}
.world_class_doctors__para {
  font-size: 1.4rem;
  line-height: 2rem;
  color: white;
  font-family: "Nexa Light";
}

.medical_treatments {
  height: 219rem;
  background-color: white;
}
.medical_treatments__container {
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
  color: #2a2d3e;
  font-family: "Nexa Bold";
  display: block;
  text-align: center;
}
.medical_treatments__heading {
  font-size: 2.1rem;
  line-height: 4rem;
}
.medical_treatments__para {
  font-size: 1.4rem;
  line-height: 2rem;
}
.medical_treatments__grid {
  grid-template-columns: 100%;
  grid-gap: 1rem;
  height: 200rem;
  margin-top: 1rem;
}
.medical_treatments__grid__card {
  position: relative;
  color: white;
}
.medical_treatments__grid__card-1 {
  background-image: linear-gradient(to top, #2a2d3e, transparent), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg");
  background-size: cover;
}
.medical_treatments__grid__card-2 {
  background-image: linear-gradient(to top, #2a2d3e, transparent), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg");
  background-size: cover;
}
.medical_treatments__grid__card-3 {
  background-image: linear-gradient(to top, #2a2d3e, transparent), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg");
  background-size: cover;
}
.medical_treatments__grid__card-4 {
  background-image: linear-gradient(to top, #2a2d3e, transparent), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg");
  background-size: cover;
}
.medical_treatments__grid__card-5 {
  background-image: linear-gradient(to top, #2a2d3e, transparent), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg");
  background-size: cover;
}
.medical_treatments__grid__card-6 {
  background-image: linear-gradient(to top, #2a2d3e, transparent), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg");
  background-size: cover;
}
.medical_treatments__grid__card__type {
  position: absolute;
  bottom: 4rem;
  font-size: 2rem;
  left: 7%;
}
.medical_treatments__grid__card__text {
  position: absolute;
  bottom: 3%;
  left: 7%;
  font-size: 1.2rem;
}
.medical_treatments__dots {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 100%;
  align-items: center;
}
.medical_treatments__dots__dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #8e9099;
  margin-left: 0.3rem;
}
.medical_treatments__dots__dot:first-child {
  width: 1.7rem;
  height: 1.7rem;
  background-color: white;
  border: 2px solid #0173b2;
}

.services {
  background-color: #f5f5f5;
}
.services__container {
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
  font-family: "Nexa Bold";
  text-align: center;
  color: #2a2d3e;
}
.services__heading {
  font-size: 2.1rem;
  line-height: 4rem;
}
.services__para {
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.services__grid {
  margin-top: 4rem;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.services__grid__choice {
  text-align: center;
  padding: 1rem;
  color: #809c99;
  background-color: white;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .hero__container {
    padding: 2rem 5rem;
    width: 100%;
    height: 100%;
    grid-gap: 1rem;
  }
  .hero__container__heading {
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
  }
  .hero__container__para {
    font-size: 1.7rem;
    text-align: center;
    padding: 0rem 2rem;
  }
  .hero__container__field {
    margin: 0rem 15rem;
  }
  .hero__container__field__search_location__district {
    font-family: "Nexa Light";
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
  }
  .hero__container__field__search {
    font-family: "Nexa Light";
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
  }
  .hero__container__field__search__button {
    margin: 0rem 10rem;
    font-family: "Nexa Light";
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
  }

  .how_it_works {
    height: 78rem;
  }
  .how_it_works__container {
    padding: 2rem 5rem;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr 19fr;
    font-family: "Nexa Bold";
  }
  .how_it_works__container__heading {
    font-size: 3rem;
    line-height: 4rem;
  }
  .how_it_works__grid {
    grid-template-columns: 4fr 6fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 0.5rem;
  }
  .how_it_works__grid__option {
    grid-column: 1/2;
  }
  .how_it_works__grid__option__text {
    line-height: 2rem;
    text-align: left;
  }
  .how_it_works__grid__option__desc-expand {
    grid-column: 2/3;
    grid-row: 1/8;
  }

  .world_class_doctors__container {
    padding: 2rem 5rem;
    width: 100%;
    height: 100%;
  }
  .world_class_doctors__container__cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
  }
  .world_class_doctors__container__cards__card__description__name::after {
    top: 60%;
  }
  .world_class_doctors__heading {
    font-size: 3rem;
    line-height: 4rem;
  }
  .world_class_doctors__para {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  .medical_treatments {
    height: 90rem;
  }
  .medical_treatments__container {
    padding: 2rem 5rem;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .medical_treatments__heading {
    font-size: 3rem;
    line-height: 5rem;
  }
  .medical_treatments__para {
    font-size: 1.7rem;
    line-height: 3rem;
  }
  .medical_treatments__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 70rem;
    grid-gap: 1rem;
  }
  .medical_treatments__grid__card-1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .medical_treatments__grid__card-2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .medical_treatments__grid__card-3 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .medical_treatments__grid__card-4 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .medical_treatments__grid__card-5 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .medical_treatments__grid__card-6 {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .services__heading {
    font-size: 3rem;
    line-height: 5rem;
  }
  .services__para {
    font-size: 1.7rem;
    line-height: 3rem;
  }
  .services__grid {
    margin-top: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0rem 5rem;
  }
}
@media (min-width: 1024px) {
  .hero {
    height: 40rem;
  }
  .hero__container {
    padding: 3rem 10rem;
    width: 100%;
    height: 100%;
    padding: 10rem 10rem;
    grid-gap: 0rem;
    width: 70%;
  }
  .hero__container__heading {
    font-size: 4rem;
    line-height: 5rem;
    text-align: left;
  }
  .hero__container__para {
    font-size: 1.7rem;
    text-align: left;
    padding: 0;
  }
  .hero__container__field {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    width: 100%;
  }
  .hero__container__field__search_location {
    flex-grow: 0;
  }
  .hero__container__field__search_location__district {
    font-family: "Nexa Light";
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
  }
  .hero__container__field__search_location__map-marker {
    padding-top: 1.6rem;
    padding-left: 2rem;
  }
  .hero__container__field__search_location__crosshairs {
    padding-top: 1.6rem;
    padding-right: 2rem;
  }
  .hero__container__field__search_location__crosshairs img {
    opacity: 0.3;
  }
  .hero__container__field__search {
    flex-grow: 2;
    font-family: "Nexa Light";
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
  }
  .hero__container__field__search__button {
    flex-grow: 1;
    margin: 0 0;
    font-family: "Nexa Light";
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
  }

  .how_it_works {
    height: 95rem;
  }
  .how_it_works__container {
    padding: 3rem 10rem;
    width: 100%;
    height: 100%;
    text-align: left;
  }
  .how_it_works__container__heading {
    font-size: 4rem;
    line-height: 5rem;
  }
  .how_it_works__container__para {
    font-size: 1.7rem;
    line-height: 3rem;
  }
  .how_it_works__grid {
    margin-top: 0;
  }
  .how_it_works__grid__option__desc__heading {
    font-size: 3rem !important;
    line-height: 4rem;
    margin-top: 2rem;
  }
  .how_it_works__grid__option__desc__para {
    font-size: 1.5rem !important;
    line-height: 2rem;
  }

  .world_class_doctors {
    height: 70rem;
  }
  .world_class_doctors__container {
    padding: 3rem 10rem;
    width: 100%;
    height: 100%;
    text-align: left;
    grid-template-rows: 1fr 3fr 13fr 1fr;
  }
  .world_class_doctors__container__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-rows: 0;
    grid-row-gap: 0;
    margin-top: 0;
  }
  .world_class_doctors__container__cards__card__description__name::after {
    top: 60%;
    left: -8%;
    width: 6%;
  }
  .world_class_doctors__container__dots {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 100%;
    align-items: center;
  }
  .world_class_doctors__container__dots__dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #8e9099;
    margin-left: 0.3rem;
  }
  .world_class_doctors__container__dots__dot:first-child {
    width: 1.7rem;
    height: 1.7rem;
    background-color: #2a2d3e;
    border: 2px solid #0173b2;
  }
  .world_class_doctors__heading {
    font-size: 4rem;
  }
  .world_class_doctors__para {
    line-height: 2rem;
    align-self: center;
  }

  .medical_treatments {
    height: 92rem;
  }
  .medical_treatments__container {
    padding: 3rem 10rem;
    width: 100%;
    height: 100%;
    text-align: left;
  }
  .medical_treatments__heading {
    font-size: 4rem;
    line-height: 5rem;
  }
  .medical_treatments__para {
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin: 1rem 0rem;
  }
  .medical_treatments__grid {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    margin-top: 2rem;
  }
  .medical_treatments__grid__card-1 {
    grid-row: 1/4;
    grid-column: 1/4;
  }
  .medical_treatments__grid__card-2 {
    grid-column: 4/7;
    grid-row: 1/6;
  }
  .medical_treatments__grid__card-3 {
    grid-column: 7/10;
    grid-row: 1/5;
  }
  .medical_treatments__grid__card-4 {
    grid-column: 1/4;
    grid-row: 4/-1;
  }
  .medical_treatments__grid__card-5 {
    grid-column: 4/7;
    grid-row: 6/-1;
  }
  .medical_treatments__grid__card-6 {
    grid-column: 7/10;
    grid-row: 5/-1;
  }

  .services__container {
    padding: 3rem 10rem;
    width: 100%;
    height: 100%;
    text-align: left;
  }
  .services__heading {
    font-size: 4rem;
    line-height: 5rem;
  }
  .services__para {
    font-size: 1.7rem;
    line-height: 3rem;
  }
  .services__grid {
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
  }
}
.breadcrumb__container {
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.breadcrumb__text {
  font-family: "Nexa Bold";
  font-size: 1.5rem;
  padding: 1.5rem 0rem;
}
.breadcrumb__sort {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 1.2rem;
  padding: 1.5rem;
  padding-right: 3rem;
  border: none;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat, #ddd;
  background-size: 1rem;
  background-position-x: 90%;
  background-position-y: 50%;
}

.doctor_list__container, .hospital_list__container {
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
}
.doctor_list__container__col-1, .hospital_list__container__col-1 {
  display: none;
}
.doctor_list__container__col-2, .hospital_list__container__col-2 {
  grid-template-columns: 100%;
  grid-row-gap: 1rem;
}
.doctor_list__container__col-2__card, .hospital_list__container__col-2__card {
  display: grid;
  border: 0.1rem solid #bbb;
  height: 67.5rem;
}
.doctor_list__container__col-2__card__name, .hospital_list__container__col-2__card__name {
  position: relative;
}
.doctor_list__container__col-2__card__name h3, .hospital_list__container__col-2__card__name h3 {
  color: #0173b2;
  font-size: 2rem;
  line-height: 3rem;
  margin: 1rem 0rem;
  padding-left: 5rem;
}
.doctor_list__container__col-2__card__name:before, .hospital_list__container__col-2__card__name:before {
  content: "";
  display: inline;
  position: absolute;
  width: 4rem;
  background-color: #0173b2;
  left: 0%;
  bottom: 50%;
  height: 0.2rem;
}
.doctor_list__container__col-2__card__other_details, .hospital_list__container__col-2__card__other_details {
  padding: 1rem;
}
.doctor_list__container__col-2__card__other_details__para, .hospital_list__container__col-2__card__other_details__para {
  font-family: "Nexa Light";
  font-size: 1.3rem;
}
.doctor_list__container__col-2__card__other_details__para span, .hospital_list__container__col-2__card__other_details__para span {
  margin-right: 1rem;
}
.doctor_list__container__col-2__card__other_details__para span img, .hospital_list__container__col-2__card__other_details__para span img {
  width: 2rem;
  height: auto;
}
.doctor_list__container__col-2__card__other_details__para span i, .hospital_list__container__col-2__card__other_details__para span i {
  color: #0173b2;
  font-size: 2rem;
  line-height: 3rem;
}
.doctor_list__container__col-2__card__book, .hospital_list__container__col-2__card__book {
  font-family: "Nexa Bold";
  align-self: center;
  margin-bottom: 1rem;
  border: none;
  background-color: #2a2d3e;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  margin-top: 1rem;
  margin: 1rem 5rem;
}
.doctor_list__container__col-2__card__doctor_img_wrapper, .hospital_list__container__col-2__card__doctor_img_wrapper {
  width: 100%;
  height: 40rem;
}
.doctor_list__container__col-2__card__doctor_img_wrapper__img, .hospital_list__container__col-2__card__doctor_img_wrapper__img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .breadcrumb__container {
    padding: 2rem 5rem;
    width: 100%;
    height: 100%;
  }

  .doctor_list, .hospital_list {
    height: 195rem;
  }
  .doctor_list__container, .hospital_list__container {
    padding: 2rem 5rem;
    width: 100%;
    height: 100%;
    padding: 2rem 3rem;
    grid-template-columns: 3fr 7fr;
    grid-column-gap: 1rem;
  }
  .doctor_list__container__col-1, .hospital_list__container__col-1 {
    display: block;
    grid-template-columns: 100%;
  }
  .doctor_list__container__col-1__filter, .hospital_list__container__col-1__filter {
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    border-bottom: 0.1rem solid #bbb;
    height: 25rem;
    font-family: "Nexa Light";
  }
  .doctor_list__container__col-1__filter:last-child, .hospital_list__container__col-1__filter:last-child {
    border-bottom: none;
    margin-top: 1.5rem;
  }
  .doctor_list__container__col-1__filter__title, .hospital_list__container__col-1__filter__title {
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 1.7rem;
    line-height: 2rem;
  }
  .doctor_list__container__col-1__filter__search, .hospital_list__container__col-1__filter__search {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
    font-size: 1.2rem;
    color: #0173b2;
  }
  .doctor_list__container__col-1__filter__collapse, .hospital_list__container__col-1__filter__collapse {
    grid-column: 5/6;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
    font-size: 1rem;
  }
  .doctor_list__container__col-1__filter__options, .hospital_list__container__col-1__filter__options {
    grid-column: 1/6;
    grid-row: 2/3;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 100%;
  }
  .doctor_list__container__col-1__filter__options label, .hospital_list__container__col-1__filter__options label {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
  }
  .doctor_list__container__col-1__filter__options label input, .hospital_list__container__col-1__filter__options label input {
    margin-right: 1rem;
  }
  .doctor_list__container__col-1__filter__show_more, .hospital_list__container__col-1__filter__show_more {
    color: #0173b2;
    grid-column: 1/6;
    grid-row: 3/4;
    font-size: 1.3rem;
    margin-bottom: 0rem;
    align-self: center;
    font-family: "Nexa Bold";
  }
  .doctor_list__container__col-1__filter__show_more .fa-plus, .hospital_list__container__col-1__filter__show_more .fa-plus {
    margin-right: 1rem;
  }
  .doctor_list__container__col-2__card, .hospital_list__container__col-2__card {
    height: 30rem;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr 3fr 0fr;
  }
  .doctor_list__container__col-2__card__name, .hospital_list__container__col-2__card__name {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .doctor_list__container__col-2__card__name:before, .hospital_list__container__col-2__card__name:before {
    top: 38%;
  }
  .doctor_list__container__col-2__card__other_details, .hospital_list__container__col-2__card__other_details {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .doctor_list__container__col-2__card__other_details__para, .hospital_list__container__col-2__card__other_details__para {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
  }
  .doctor_list__container__col-2__card__book, .hospital_list__container__col-2__card__book {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: start;
    justify-self: start;
    margin: 1rem;
  }
  .doctor_list__container__col-2__card__doctor_img_wrapper, .hospital_list__container__col-2__card__doctor_img_wrapper {
    width: 100%;
    height: 100%;
    grid-row: 1/-1;
    grid-column: 2/3;
  }
  .doctor_list__container__col-2__card__doctor_img_wrapper__img, .hospital_list__container__col-2__card__doctor_img_wrapper__img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .breadcrumb__container {
    padding: 0rem 10rem;
  }

  .doctor_list__container, .hospital_list__container {
    padding: 3rem 10rem;
    width: 100%;
    height: 100%;
    grid-template-columns: 2fr 10fr;
    grid-column-gap: 6rem;
  }
  .doctor_list__container__col-2__card, .hospital_list__container__col-2__card {
    grid-template-columns: 9fr 4fr;
  }
  .doctor_list__container__col-2__card__name:before, .hospital_list__container__col-2__card__name:before {
    top: 38%;
  }
  .doctor_list__container__col-2__card__other_details__para, .hospital_list__container__col-2__card__other_details__para {
    display: inline;
  }
}
.hospital_list {
  height: 231rem;
}
.hospital_list__container__col-2__card {
  grid-gap: 1rem;
  height: 55.5rem;
}
.hospital_list__container__col-2__card:last-child {
  height: 58.5rem;
}
.hospital_list__container__col-2__card__hospital_img_wrapper {
  width: 100%;
  height: 20rem;
}
.hospital_list__container__col-2__card__hospital_img_wrapper__img {
  width: 100%;
  height: 100%;
}
.hospital_list__container__col-2__card__other_details__tags {
  margin: 2rem 0rem;
  grid-column: 1/-1;
}
.hospital_list__container__col-2__card__other_details__tags__tag {
  display: inline;
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 0.5rem;
  line-height: 3rem;
  white-space: nowrap;
}
.hospital_list__container__col-2__card__other_details__para {
  line-height: 2rem;
}
.hospital_list__container__col-2__card__book {
  margin: 0rem 7rem;
}

@media (min-width: 768px) {
  .hospital_list {
    height: 128rem;
  }
  .hospital_list__container {
    padding: 2rem 5rem;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
  }
  .hospital_list__container__col-1 {
    display: none;
  }
  .hospital_list__container__col-2__card {
    height: 30rem;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 2fr 6fr 2fr;
    grid-gap: 0;
  }
  .hospital_list__container__col-2__card:last-child {
    height: 30rem;
  }
  .hospital_list__container__col-2__card__name h3 {
    line-height: 2rem;
  }
  .hospital_list__container__col-2__card__name::before {
    top: 37%;
  }
  .hospital_list__container__col-2__card__other_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }
  .hospital_list__container__col-2__card__other_details__tags {
    margin: 1rem 0rem;
  }
  .hospital_list__container__col-2__card__hospital_img_wrapper {
    width: 100%;
    height: 100%;
    grid-row: 1/-1;
    grid-column: 2/-1;
  }
  .hospital_list__container__col-2__card__hospital_img_wrapper__img {
    width: 100%;
    height: 100%;
  }
  .hospital_list__container__col-2__card__book {
    padding: 1rem 6rem;
    margin: 1rem 1rem;
  }
}
@media (min-width: 1024px) {
  .hospital_list {
    height: 130rem;
  }
  .hospital_list__container {
    padding: 3rem 10rem;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 6fr;
  }
  .hospital_list__container__col-1 {
    display: inline;
  }
  .hospital_list__container__col-2 {
    grid-gap: 0;
  }
  .hospital_list__container__col-2__card {
    grid-template-columns: 6fr 3fr;
    grid-gap: 1rem;
  }
  .hospital_list__container__col-2__card__hospital_img_wrapper {
    width: 100%;
    height: 100%;
    grid-row: 1/-1;
    grid-column: 2/-1;
  }
  .hospital_list__container__col-2__card__hospital_img_wrapper__img {
    width: 100%;
    height: 100%;
  }
  .hospital_list__container__col-2__card__other_details__para {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
  }
  .hospital_list__container__col-2__card__name:before {
    top: 37% !important;
  }
}

/*# sourceMappingURL=main.css.map */
